@use "../variables" as v;
@use "../mixins" as m;

.wrapper {
  width: 100%;
  min-height: calc(100vh - 160px);
  background-color: v.$color-bg-page;
  @include m.respond-to(tablet-up) {
    min-height: calc(100vh - 180px);
  }
}

.content {
  padding: 60px 0px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  @include m.respond-to(tablet) {
    max-width: 720px;
  }
  @include m.respond-to(desktop) {
    max-width: 960px;
  }
  @include m.respond-to(desktop-large) {
    max-width: 1280px;
  }
}

.text {
  color: v.$color-text-main;
  font-size: v.$font-size-x-small;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-small;
}
