@use "../../../../variables" as v;

.kana {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;


  &__title {
    text-align: center;
    color: v.$color-text-main;
    font-size: v.$font-size-large;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-large;
  }
}