@use "../../variables" as v;
@use "../../mixins" as m;

.wordsrepeatpagecomponent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow: hidden;

  &__loading {
    font-size: v.$font-size-large;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-large;
    color: v.$color-text-main;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__cards_navigation {
    display: flex;
    gap: 5px;
  }

  &__lists {
    padding: 5px;
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: v.$color-text-secondary;
    font-size: v.$font-size-xx-small;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-small;
    border-radius: 10px;
    border: 1px solid v.$color-border;
    background-color: v.$grey-dark;
    @include m.respond-to(tablet-up) {
      height: 50px;
      padding: 10px 20px;
      font-size: v.$font-size-medium;
      line-height: v.$line-height-medium;
      border-radius: 20px;
    }
  }

  &__lists:focus {
    outline: none;
    border-color: v.$purple;
  }
}

.flashcard__text_lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard__text {
  font-size: v.$font-size-large;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-large;
  color: v.$color-text-main;
}
