@use "../../variables" as v;

.wordsrepeatpagecomponent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow: hidden;

  &__loading {
    font-size: v.$font-size-large;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-large;
    color: v.$color-text-main;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__cards_navigation {
    display: flex;
    gap: 5px;
  }
}

.flashcard__text_lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flashcard__text {
  font-size: v.$font-size-large;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-large;
  color: v.$color-text-main;
}
