@use "../../../variables" as v;

.dashboard {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__title {
    text-align: center;
    color: v.$color-text-main;
    font-size: v.$font-size-large;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-large;
  }

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__subtitle {
    color: v.$color-text-main;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-medium;
  }
}
