@use "../../../variables" as v;

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__title {
    text-align: center;
    color: v.$color-text-main;
    font-size: v.$font-size-large;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-large;
  }

  &__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__lists {
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
  }
}
