@use "../../variables" as v;
@use "../../mixins" as m;

.quickActions {
  width: 100%;
  padding: 10px;
  border: none;
  border: 1px solid v.$color-border;
  border-radius: 10px;

  &__title {
    padding-bottom: 15px;
    text-align: center;
    color: v.$color-text-main;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-medium;
    @include m.respond-to(tablet-up) {
      text-align: left;
      font-size: v.$font-size-large;
      font-weight: v.$font-weight-regular;
      line-height: v.$line-height-large;
    }
  }

  &__lists {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    background: v.$gradient-dark-card;
    border: none;
    border: 1px solid v.$color-border;
    border-radius: 10px;
    @include m.respond-to(tablet-up) {
      justify-content: flex-start;
      gap: 30px;
    }
  }
}
