@use "../../variables" as v;
@use "../../mixins" as m;

.introduction {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  @include m.respond-to(tablet-up) {
    padding-bottom: 80px;
    gap: 60px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__span {
    color: v.$color-accent-3;
    font-size: v.$font-size-xx-small;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-small;
    @include m.respond-to(tablet-up) {
      font-size: v.$font-size-small;
      font-weight: v.$font-weight-regular;
      line-height: v.$line-height-small;
    }
  }

  &__title {
    text-align: center;
    color: v.$color-text-main;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-medium;
    @include m.respond-to(tablet-up) {
      font-size: v.$font-size-large;
      font-weight: v.$font-weight-regular;
      line-height: v.$line-height-large;
    }
  }

  &__text {
    color: v.$color-text-main;
    font-size: v.$font-size-x-small;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-small;
    @include m.respond-to(tablet-up) {
      font-size: v.$font-size-medium;
      font-weight: v.$font-weight-regular;
      line-height: v.$line-height-medium;
    }

    &_subtitle {
      text-align: center;
      color: v.$color-text-secondary;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__accent {
    background: v.$gradient-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: v.$font-weight-medium;
  }
}
