@use "../../variables" as v;

.tableWords__lists {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tableWords__text {
  font-size: v.$font-size-medium;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-medium;
  color: v.$color-text-main;
}
