@use "../../variables" as v;
@use "../../mixins" as m;

.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__link {
    width: 50px;
    height: 50px;
  }

  &__image {
    border: none;
    border-radius: 10px;
    @include m.hover {
      border: 1px solid v.$purple;
      box-shadow: v.$shadow-default;
    }
  }

  &__text {
    color: v.$color-text-main;
    font-size: v.$font-size-small;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-medium;
  }

  @include m.respond-to(desktop) {
    &__text {
      font-size: v.$font-size-medium;
    }
  }
}
