@use "../../variables" as v;
@use "../../mixins" as m;

.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  &__link {
    width: 42px;
    height: 42px;
  }

  &__image {
    border: 1px solid v.$color-border;
    border-radius: 10px;
    @include m.hover {
      border: 1px solid v.$purple;
      box-shadow: v.$shadow-default;
    }
  }

  &__text {
    color: v.$color-text-main;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-medium;
  }
}
