@use "../../variables" as v;
@use "../../mixins" as m;

.profiledropdown {
  position: relative;

  &__profile {
    width: 160px;
    height: 50px;
    padding: 10px;
    background: v.$color-bg-element;
    border: 1px solid v.$color-border-active;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    @include m.hover {
      border-color: v.$purple;
      box-shadow: v.$shadow-default;
    }
    @include m.respond-to(tablet-up) {
      width: 300px;
      height: 70px;
    }
    @include m.respond-to(desktop-up) {
      padding: 20px;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    @include m.respond-to(tablet-up) {
      gap: 3px;
    }

    &_name {
      color: v.$color-accent-3;
      font-size: v.$font-size-x-small;
      font-weight: v.$font-weight-regular;
      line-height: v.$line-height-small;
      @include m.respond-to(tablet-up) {
        font-size: v.$font-size-medium;
        line-height: v.$line-height-small-medium;
      }
    }

    &_email {
      color: v.$color-text-secondary;
      font-size: v.$font-size-small;
      font-weight: v.$font-weight-regular;
      line-height: v.$line-height-small;
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include m.respond-to(tablet-up) {
        font-size: v.$font-size-medium;
        line-height: v.$line-height-small-medium;
        max-width: 200px;
      }
    }
  }

  &__img {
    @include m.respond-to(tablet-up) {
      width: 50px;
      height: 50px;
    }
  }

  &__menu {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    overflow-y: auto;
    border-radius: 15px;
    background-color: v.$color-bg-element;
    z-index: 999;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    @include m.respond-to(tablet-up) {
      position: absolute;
      width: 300px;
      height: auto;
      top: calc(100% + 10px);
      transform-origin: top left;
      transition:
        opacity 0.2s ease,
        transform 0.2s ease;
    }

    &_open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      @include m.respond-to(tablet-up) {
        border: 1px solid v.$color-border-active;
      }
    }

    &_button {
      display: flex;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 20px;
      background: url(../../_images/closedburger.svg) no-repeat;
      border: none;
      cursor: pointer;
      @include m.hover {
        opacity: 0.8;
      }
      @include m.respond-to(tablet-up) {
        display: none;
      }

      &_hidden {
        display: none;
      }
    }

    &_inner {
      padding: 70px 20px 0;
      @include m.respond-to(tablet-up) {
        padding: 20px;
      }
    }

    &_navigation {
      margin: 20px 0;
      padding: 15px 0;
      border-top: 1px solid v.$color-border;
      border-bottom: 1px solid v.$color-border;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_title {
        width: 100%;
        padding: 0 10px;
        border: 1px solid v.$color-border-active;
        border-radius: 10px;
        background: v.$gradient-dark;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: v.$color-text-main;
        font-size: v.$font-size-small;
        font-weight: v.$font-weight-regular;
        line-height: v.$line-height-small;
        @include m.hover {
          border-color: v.$purple;
        }
        @include m.respond-to(tablet-up) {
          padding: 5px 10px;
          border-radius: 15px;
          font-size: v.$font-size-medium;
          line-height: v.$line-height-medium;
        }
      }

      &_section {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &_links {
      padding-left: 10px;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include m.respond-to(tablet-up) {
        gap: 15px;
      }
    }
  }

  &__arrow {
    width: 30px;
    height: 30px;
    background-image: url(../../_images/Chevron_Down.svg);
    background-repeat: no-repeat;
    background-position: right;

    &_open {
      background-image: url(../../_images/Chevron_Up.svg);
    }
  }
}
