@use "../../variables" as v;

.addWordForm {
  &__form_field {
    padding: 15px 0px;
  }

  &__lists {
    padding: 5px;
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: v.$color-text-secondary;
    font-size: v.$font-size-xx-small;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-small;
    border-radius: 10px;
    border: 1px solid v.$color-border;
    background-color: v.$grey-dark;
  }

  &__lists:focus {
    outline: none;
    border-color: v.$purple;
  }

  &__text {
    width: 100%;
    display: block;
    font-size: v.$font-size-x-small;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-small;
    text-align: center;
  }

  &__success {
    color: v.$color-accent-1;
  }

  &__errors {
    color: v.$color-text-error;
  }
}
