@use "../../variables" as v;
@use "../../mixins" as m;

.navigation {
  display: flex;
  width: 180px;

  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  @include m.respond-to(desktop) {
    width: 300px;

    &__content {
      gap: 10px;
    }
  }
}
