@use "../../variables" as v;

.wrapper {
  width: 100%;
  min-height: calc(100vh - 160px);
  background-color: v.$color-bg-page;
}

.content {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10px;
}
