// Base colors
$white: #ffffff;
$grey: #7f91b2;
$red: #dc2626;
$black: #000000;
$green: #4ade80;
$yellow: #facc15;
$grey-dark: #0a1330;
$black-dark: #081028;
$blue-dark: #263452;
$purple: #8951ff;
$purple-light: #cb3cff;
$indigo: #6366f1;
$indigo-dark: #4f46e5;
$violet: #a855f7;

// Shadows
$shadow-default: 0 8px 25px rgba($indigo, 0.35);
$shadow-button-up: 0 0 20px rgba(99, 102, 241, 0.35);

// Gradient
$gradient-primary: linear-gradient(90deg, $violet, $indigo-dark);

$gradient-info: linear-gradient(90deg, #38bdf8, #2563eb); // Пока для теста
$gradient-dark: linear-gradient(90deg, #111c38, #162542); // Пока для теста
$gradient-secondary: linear-gradient(90deg, #111c38, #162542); // Пока для теста
$gradient-success: linear-gradient(90deg, #4ade80, #22c55e); // Пока для теста

// Text colors
$color-text-main: $white;
$color-text-link: $purple-light;
$color-text-error: $red;
$color-text-secondary: $grey;
$color-accent-1: $green;
$color-accent-2: $yellow;
$color-accent-3: $purple;

// Background colors
$color-bg-page: $black-dark;
$color-bg-header: $grey-dark;
$color-bg-footer: $grey-dark;
$color-bg-card: $grey-dark;
$color-bg-element: $grey-dark;
$color-bg-link: $violet;

// Button
$color-button-learn-bg: $green;
$color-button-delete-bg: $red;
$color-button-up-bg: rgba($indigo, 0.25);

// Border colors
$color-border: $blue-dark;
$color-border-active: $indigo;
$color-button-up-border: $indigo;
$color-button-up-border-hover: $violet;

/* Text size */
$font-size-xx-small: 14px;
$font-size-x-small: 16px;
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-x-large: 48px;
$font-size-xx-large: 64px;

$font-weight-regular: 400;
$font-weight-medium: 500;

$line-height-small: 20px;
$line-height-medium: 32px;
$line-height-large: 42px;
$line-height-x-large: 54px;
$line-height-xx-large: 64px;
