@use "../../variables" as v;

.profile__form {
  padding: 10px 5px;
  min-width: 300px;
}

.profileform__errors {
  padding: 7px 0px 15px 0px;
  font-size: v.$font-size-x-small;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-small;
  color: v.$color-text-error;
}

.profileform__text {
  font-size: v.$font-size-x-small;
  font-weight: v.$font-weight-regular;
  line-height: v.$line-height-small;
  color: v.$color-text-main;
}

.profileform__btn_type_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}