@use "../../mixins" as m;

.landingnav {
  display: none;
  @include m.respond-to(desktop-up) {
    display: flex;
  }
  &__lists {
    display: none;
    list-style-type: none;
    @include m.respond-to(desktop-up) {
      display: flex;
      gap: 30px;
    }
  }
}
